.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  border: solid 3px $texto-negro;
}

h1 {
  color: $texto-azul;
  font-size: 2rem;
  text-align: center;
  padding-bottom: 20px;
}

i {
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  text-align: center;
}

.item {
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  text-align: center;
}

.item1 {
  background-color: white;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  text-align: center;
}

.item2 {
  background-color: black;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  text-align: center;
}
.blancas {
  color: $texto-azul-claro;
}

.negras {
  color: $figuras-ajedrez;
}

.container-home {
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  padding-right: 1rem;
  padding-left: 1rem;
  width: 100%;
}

/*Tamaño medio*/

@media (max-width: 768px) and (min-width: 576px) {
  .container-home {
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    padding-right: 1rem;
    padding-left: 1rem;
    width: 100%;
  }
}
/*Tamaño grande*/

@media (max-width: 992px) and (min-width: 768px) {
  .container-home {
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    padding-right: 1rem;
    padding-left: 1rem;
    width: 90%;
  }
}
/*Tamaño extra grande*/

@media (max-width: 1200px) and (min-width: 992px) {
  .container-home {
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    padding-right: 1rem;
    padding-left: 1rem;
    width: 90%;
  }
}

/*Tamaño extra extra grande*/

@media (min-width: 1200px) {
  .container-home {
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    padding-right: 1rem;
    padding-left: 1rem;
    width: 90%;
  }
}
