.container-nav {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-bottom: 40px;
  width: 98%;
}

.nav-item {
  width: 100;
  height: 50;
}

.nav-item-li {
  list-style-type: none;
  padding-top: 25px;
  padding-right: 10px;
}

i {
  padding-left: 20px;
  padding-top: 25px;
}

i:first-of-type {
  padding-left: 150px;
}
