.body__containerPagina2 {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.img__itemPrincipal--centrada {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
}

.div__flexPagina2 {
  display: flex;
  flex-direction: row;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  color: $texto-azul;
}

.div_p--mitad {
  width: 50%;
  text-align: center;
  padding: 20px;
}

.hr_pagina2 {
  border: solid 3px $texto-azul;
}

.h2__itemsPagina2--izquierda {
  color: $texto-azul;
  font-size: 1.4rem;
  text-align: left;
  padding-bottom: 10px;
}

.h3__itemsPagina2--izquierda {
  color: $texto-azul;
  font-size: 1.2rem;
  text-align: left;
  padding-bottom: 10px;
}

.p__bodyPagina2 {
  color: $texto-azul;
  font-size: 1rem;
  text-align: left;
  padding-top: 10px;
}

.article__blockquote--parrafoPagina2 {
  margin-left: auto;
  margin-right: auto;
  color: $texto-azul;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  width: 50%;
}
